@import "lncs.scss";
@import "shared.scss";

header {
  .actions, .context {
    display: none;
  }
}

figure.listing pre {
	white-space: initial;
}

#wiperstimes, #partial-collection-controls{
	display: none;
}

#codepen-img {
	width: 78%;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}